*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color:#fed7a5;
    background-color: #20212b;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 200px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: #fed7a5;
    background-color: #9e6752;
    border: none;
    border-radius: 10px;
}

/* NAVBAR */

.navbar {
    height: 50px;
    color: #fed7a5;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color:#fed7a5;
    font-size: 16px;
}

.navbar a:hover {
    color: #73766a;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    gap: 25px;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    min-height: 400px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1,2;
}

.container>img{
    border-radius: 500px 0; 
    width: 500px;
    box-shadow: 8px 8px rgba(83, 65, 69, 0.267);
    margin-left: 50px;
}

.header .sing-up {
    margin-top: 20px;
}

.container button:hover {
    font-size: 22px;
}

.container button:active {
    color: #9e6752;
    border: 2px solid #9e6752;
    border-radius: 10px;
    background-color: #20212b;
}

/* CARD SECTION */

.cards {
    min-height: 500px;
    background-color: #fed7a5;
    color: #20212b;
    text-align: center;
}

.cards h2 {
    font-size: 36px;
    font-weight: 900;
    padding-top: 20px;
}

.cards .container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 300px;
}

.container .card {
    flex: 1;
    margin-top: 20px;
}

.card .box {
    min-width: 80px;
    min-height: 80px;
    background: linear-gradient(-45deg, rgba(32,33,43,1) 0%, rgba(83,65,69,1) 35%, rgba(158,103,82,1) 100%);
    border-radius: 25px;
}

.box>img {
    padding: 25px;
}

/* USER QUOTE */

.quote {
    height: 400px;
    background-color: #73766a;
    font-size: 36px;
    font-weight: lighter;
}

.quote .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 300px;
}

.container i {
    text-align: left;
}

.container b {
    float: right;
}

/* CALL ACTION */

.call-to-action {
    background-color: #fed7a5;
    color:#20212b;
    height: 300px;
}

.call-to-action .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    background-color: #20212b;
    color:#fed7a5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* MEDIA */

@media (max-width: 1100px) {

    .container>img{
        max-width: 300px;
    }

    .cards {
        min-height: 420px;
    }

    .cards .container {
        max-height: 300px;
        gap: 20px;
        height: 300px;
        padding: 0 200px;
    }
}

@media (max-width: 956px) {

    .header .container {
        display: block;
        height: 150px;
    }

    .container>img{
        visibility: hidden;
    }

    .cards {
        min-height: 420px;
    }

    .cards .container {
        max-height: 300px;
        gap: 20px;
        height: 300px;
        padding: 0 200px;
    }

    .quote .container {
        padding: 0 200px;
        font-size: 24px;    
    }
}
