*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color:#fed7a5;
    background-color: #20212b;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 200px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: #fed7a5;
    background-color: #9e6752;
    border: none;
    border-radius: 10px;
}

/* NAVBAR */

.navbar {
    height: 5vh;
    color: #fed7a5;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color:#fed7a5;
    font-size: 16px;
}

.navbar a:hover {
    color: #73766a;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    gap: 25px;
}

/* HEADER */

.header {
    height: 50vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 100%;
}


.content h1 {
    font-size: 48px;
}

.container.content {
    color:#fed7a5;
    flex: 1;
}

.container img {
    border-radius: 550px 0; 
    max-width: 50%;
    max-height: 70%;
    box-shadow: 8px 8px rgba(83, 65, 69, 0.267);
}

.container button {
    margin-top: 20px;
}

.container button:hover {
    font-size: 22px;
}

.container button:active {
    color: #9e6752;
    border: 2px solid #9e6752;
    border-radius: 10px;
    background-color: #20212b;
}

/* CARD SECTION */

section.cards {
    height: 50vh;
    background-color: #fed7a5;
    color: #20212b;
    text-align: center;
}